.video-container {
    position: relative;
    width: 100%;
    height: 45vh; /* Set the container height directly */
    overflow: hidden;
  }
  
  .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Fill the container completely */
    object-fit: cover; /* Ensures the video covers the entire area */
  }
  