@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

.time .baskervville-sc-regular {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
}

